* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111111;
  span {
    color: #c3a30e;
    font-weight: bolder;
    font-size: 24px;
  }
  button {
    color: white;
  }
}

.section-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111111;
  height: 70vh;

  .arrows {
    background-color: #c3a30e;
    border-radius: 100%;
    width: 67px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
.section-front-info {
  text-align: center;
  margin: 80px 0;
}
.about-repair {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  button {
    width: 166px;
    height: 45px;
    color: white;
    padding: 5px;
    background-color: #c3a30e;
    border: none;
  }
  .jumbotron {
    background-image: url(/img/01.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  * {
    margin: 50px 0;
  }
  img {
    width: 350px;
    height: 230px;
  }
}

.our-services {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  button {
    width: 166px;
    height: 45px;
    color: white;
    padding: 5px;
    background-color: #c3a30e;
    border: none;
  }
  .jumbotron {
    background-image: url(/img/02.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .our-services--services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      width: 35px;
      height: 35px;
    }
  }
  .our-services--services__left,
  .our-services--services__right {
    background-color: #a69130;
  }
  .our-services--services__center div {
    background-color: #a69130;
    margin: 20px;
    padding: 20px;
  }
}
.reason-why {
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  background-color: #020201;
  .reason-why--left {
    width: 65%;
    color: white;
  }
  .reason-why--right {
    width: 100%;
    -webkit-clip-path: polygon(31% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(31% 0, 100% 0, 100% 100%, 0% 100%);
    background-image: url(img/peter-broomfiel.png);
    background-position: center;
  }
  .jumbotron {
    text-align: center;
    margin: 20px 0;
    background-image: url(/img/03.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  ol {
    li::marker {
      color: #c3a30e;
      font-size: 20px;
      font-weight: bolder;
    }
    margin-left: 20px;
  }
}
.maintenance {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  .jumbotron {
    margin: 20px 0;
    background-image: url(/img/04.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  button {
    width: 166px;
    height: 45px;
    color: white;
    padding: 5px;
    background-color: #c3a30e;
    border: none;
  }
  * {
    margin: 30px 0;
  }
}
.customers-review {
  text-align: center;
  .jumbotron {
    margin: 50px 0;
    background-image: url(/img/05.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .customers-reveiw--feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    div {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      p {
        background-color: #111111;
        color: white;
        padding: 40px;
        position: relative;
      }
      p::after {
        content: "";
        position: absolute;
        display: block;
        background-color: #111111;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        width: 20px;
        height: 20px;
        left: 49%;
        bottom: -20px;
      }
    }
  }
  img {
    width: 60px;
    height: 60px;
  }
}
.contact-form {
  text-align: center;
  .jumbotron {
    margin: 50px 0;
    background-image: url(/img/06.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  button {
    width: 166px;
    height: 45px;
    color: white;
    padding: 5px;
    background-color: #c3a30e;
    border: none;
  }
}
.map {
  iframe {
    width: 100%;
    height: 600px;
  }
}

footer {
  background-color: #111111;
  color: white;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: stretch;

  ol {
    li::marker {
      color: #c3a30e;
      font-size: 20px;
      font-weight: bolder;
    }
    margin-left: 20px;
  }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) {
  .section-carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #111111;
    height: 100vh;
  }
  .reason-why--right {
    display: none;
  }
  .reason-why--left {
    width: 100%;
  }
  .customers-review .customers-reveiw--feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      width: 80%;
    }
  }
}
// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {
// }
